<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://i.postimg.cc/pXQs0jJC/Whats-App-Image-2022-07-19-at-12-34-12-PM.jpg">
    <title>crearCapacitacion</title>
    <link rel="icono" href="img/logo.png" type="imagen/png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

        <div th:replace="nav :: navega"></div>

        <br>

        <h1>Crear capacitación</h1>

        <br>

        <form action="#" th:action="@{/listarCapacitaciones/guardar}" th:object="${capacitacion}" method="post" class="form col-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">RUT cliente</label>
                <input type="number" class="form-control" aria-describedby="emailHelp" th:field="*{rutCliente}">
                <div class="form-text-color=white">Ingrese RUN sin puntos, ni guión, ni dígito verificador.</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Día de semana</label> <select class="form-select" aria-label="Default select example" th:field="*{diaSemana}">
                <option value="">Seleccione el día de semana</option>
                <option value="lunes">lunes</option>
                <option value="martes">martes</option>
                <option value="miercoles">miércoles</option>
                <option value="jueves">jueves</option>
                <option value="viernes">viernes</option>
                <option value="sabado">sábado</option>
                <option value="domingo">domingo</option>
            </select>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Hora</label>
                <input type="time" class="form-control" aria-describedby="emailHelp" th:field="*{hora}">
                <div class="form-text-color=white"></div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Lugar</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" th:field="*{lugar}">
                <div class="form-text"></div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Duración</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" th:field="*{duracion}">
                <div class="form-text"></div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Cantidad de asistentes</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{cantidadAsistentes}">
                <div id="emailHelp" class="form-text"></div>
            </div>

            <button type="submit" class="btn btn-primary">Crear capacitación</button>
        </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>