<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://i.postimg.cc/pXQs0jJC/Whats-App-Image-2022-07-19-at-12-34-12-PM.jpg">
    <title>Editar Administrativo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="nav :: navega"></div>

<br>

<h1>Editar Administrativo</h1>

<br>

<form th:action="@{/editarAdministrativo/guardarAdministrativo}" method="post" th:object="${administrativo}" class="form col-6">

    <input type="text" class="form-control" id="idAdministrativo" name="idAdministrativo" th:value="${administrativo.getIdAdministrativo()}" readonly>

    <div class="mb-3">
        <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" th:value="${administrativo.getNombreUsuario()}" aria-describedby="emailHelp">
        <div id="txtnombreUsuario" class="form-text"></div>
    </div>

    <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" th:value="${administrativo.getFechaNacimiento()}"  aria-describedby="emailHelp">
        <div id="txtfechaNacimiento" class="form-text"></div>
    </div>

    <div class="mb-3">
        <label for="run" class="form-label">RUN</label>
        <input type="number" class="form-control" id="run" name="run" th:value="${administrativo.getRun()}" aria-describedby="emailHelp">
        <div id="txtrun" class="form-text-color=white">Ingrese RUN sin puntos, ni guión, ni dígito verificador.</div>
    </div>

    <div class="mb-3">
        <label for="clave" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="clave" name="clave" th:value="${administrativo.getClave()}" aria-describedby="emailHelp">
        <div id="txtclave" class="form-text"></div>
    </div>

    <input type="hidden" id="perfil" name="perfil" value="administrativo">

    <div class="mb-3">
        <label for="area" class="form-label">Área</label>
        <input type="text" class="form-control" id="area" name="area" th:value="${administrativo.getArea()}">
    </div>

    <div class="mb-3">
        <label for="experienciaPrevia" class="form-label">Experiencia previa</label>
        <input type="text" class="form-control" id="experienciaPrevia" name="experienciaPrevia"th:value="${administrativo.getExperienciaPrevia()}">
    </div>

    <button type="submit" class="btn btn-primary">Crear usuario</button>

</form>

<!-- JavaScript Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>